.header {
    @include content;

    padding: {
        top: 2rem;
        bottom: 2rem;
    };
}

.profile {
    display: inline-block;

    &__image {
        vertical-align: middle;
        display: inline-block;
        border-radius: 50%;
        width: 20%;
        margin: 0;
    }

    &__name {
        vertical-align: middle;
        display: inline-block;
        margin: 0 0 0 1rem;
        text-align: center;
        line-height: 1;
    }
}

.nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    &__link {
        line-height: 1;
        margin-right: 1rem;
        text-transform: uppercase;
        color: #CCC;
        font-size: .8rem;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &--active {
            cursor: auto;
            color: $base-color;
        }
    }
}
