.header {
    @include content;

    text-align: center;

    padding: {
        top: 2rem;
        bottom: 2rem;
    };

    @include bp(440px) {
        text-align: left;
    }

    @media print {
        padding: 0;
    }
}

.profile {
    display: inline-block;

    @media print {
        display: block;
    }

    &__image {
        vertical-align: middle;
        display: inline-block;
        border-radius: 50%;
        width: 15%;
        margin: 0;

        @media print {
            display: block;
            position: fixed;
            top: 2rem;
            right: 4rem;
            width: 75px;
        }
    }

    &__name {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 0 1rem;
        line-height: 1;

        font: {
            weight: 700;
            size: 1.5rem;
        };

        text: {
            transform: uppercase;
            align: center;
        };

        @media print {
            display: none;
        }
    }
}

.nav {
    margin-top: 1rem;

    @include bp(440px) {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
        margin: 0;
    }

    @media print {
        display: none;
    }

    &__link {
        line-height: 1;
        margin-right: .6rem;
        text-transform: uppercase;
        color: darken($light-gray, 10%);
        cursor: pointer;
        padding: .4rem;
        transition: .3s all;

        font: {
            size: .8rem;
            weight: bold;
        };

        border: {
            width: 2px;
            style: solid;
            color: darken($light-gray, 10%);
            radius: 2rem;
        };

        &:last-child {
            margin-right: 0;
        }

        &--active,
        &:hover {
            background: darken($light-gray, 10%);
            color: #FFF;
        }

        &:hover {
            cursor: pointer;
        }

        &--active:hover {
            cursor: default;
        }
    }
}
