html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden; // Temporary
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
