.page__content {
    @include content;

    @media print {
        padding: {
            top: 1.5rem;
            bottom: 1.5rem;
        };
    }
}

.site-section {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
    margin: 0 1.5rem;
    overflow: hidden;

    // Inactive styles
    transform: scale(0.6);
    opacity: 0;
    z-index: 1;

    &--active {
        transform: scale(1);
        opacity: 1;
        z-index: 2;
    }

    @media print {
        position: static;
    }

    p {
        text-align: justify;
    }
}

.section {
    @include clearfix;
}
