body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    color: $base-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $heading-font-weight;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0 0 16px;
    margin: 0 0 1rem;
}

.section__heading {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;

    &:after {
        display: inline-block;
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% + 1rem);
        transform: translateY(-50%);
        width: 300px;
        height: 6px;
        background: $light-gray;
    }
}

.page__wrapper {
    text-align: justify;
}

ul {
    list-style: none;
    padding: .2em 0 .2em 1em;
    border: {
        width: 0 0 0 3px;
        color: lightseagreen;
        style: solid;
    }
}

a {
    transition: all .8s;
    color: $base-color;
    border: {
        width: 0 0 3px;
        color: rgba($base-color,.1);
        style: solid;
    }
    &:hover {
        border-color: rgba(lightseagreen, .8);
    }
}
