body {
    font-family: $body-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    color: $base-color;
}

.page__wrapper {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $heading-font-weight;
    text-transform: uppercase;

    small {
        font-size: 80%;
        color: darken($light-gray, 20%);
        margin-left: .5rem;
    }
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0 0 16px;
    margin: 0 0 1rem;
}

.section__heading {
    display: inline-block;
    position: relative;

    &:after {
        display: inline-block;
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% + 1rem);
        transform: translateY(-50%);
        width: 999px;
        height: 6px;
        background: $light-gray;
    }
}

ul {
    padding-left: 1.2rem;
}

a {
    transition: all .8s;
    color: lightseagreen;

    &:hover {
        color: $base-color;
    }
}

dl {
    @include clearfix;

    margin: 0 0 1rem;

    dt,
    dd {
        float: left;
        display: inline-block;
        margin: 0;
    }

    dt {
        margin-right: .5rem;
        clear: left;
        font-weight: 700;

        &:after {
            content: ':';
        }
    }
}

.experience {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}
