@mixin content {
    max-width: 400px;
    margin: 0 auto;
    position: relative;

    padding: {
        left: 1.5rem;
        right: 1.5rem;
    };
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
